@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 235 19% 13%;
    --foreground: 229 35% 75%;
    --muted: 235 12% 17%;
    --muted-foreground: 235 12% 67%;
    --popover: 235 19% 10%;
    --popover-foreground: 229 35% 85%;
    --card: 235 19% 11%;
    --card-foreground: 229 35% 80%;
    --border: 235 9% 18%;
    --input: 235 9% 21%;
    --primary: 223 45% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 223 30% 75%;
    --secondary-foreground: 223 30% 15%;
    --accent: 235 19% 28%;
    --accent-foreground: 235 19% 88%;
    --destructive: 9 82% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 223 45% 44%;
    --chart-1: 223 30% 75%;
    --chart-2: 223 45% 44%;
    --chart-3: 235 19% 28%;
    --chart-4: 223 30% 78%;
    --chart-5: 223 48% 44%;
    --radius: 1rem;
    --sidebar-background: 235 19% 11%;
    --sidebar-foreground: 229 35% 75%;
    --sidebar-primary: 223 45% 44%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 235 19% 28%;
    --sidebar-accent-foreground: 235 19% 88%;
    --sidebar-border: 235 9% 18%;
    --sidebar-ring: 223 45% 44%;
  }

  .dark {
    --background: 235 19% 13%;
    --foreground: 229 35% 75%;
    --muted: 235 12% 17%;
    --muted-foreground: 235 12% 67%;
    --popover: 235 19% 10%;
    --popover-foreground: 229 35% 85%;
    --card: 235 19% 11%;
    --card-foreground: 229 35% 80%;
    --border: 235 9% 18%;
    --input: 235 9% 21%;
    --primary: 220.8 88.65% 72.35%;
    --primary-foreground: 0 0% 100%;
    --secondary: 223 30% 75%;
    --secondary-foreground: 223 30% 15%;
    --accent: 235 19% 28%;
    --accent-foreground: 235 19% 88%;
    --destructive: 1.58 47.5% 52.94%;
    --destructive-foreground: 0 0% 100%;
    --ring: 223 45% 44%;
    --chart-1: 220.8 88.65% 72.35%;
    --chart-2: 261.29 85.32% 78.63%;
    --chart-3: 88.8 50.51% 61.18%;
    --chart-4: 35.5 65.93% 64.31%;
    --chart-5: 348.84 88.97% 71.57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
